.collapse-title {
  all: unset;
  padding: var(--sz-menu-padding);
  
  width: 100%;
}

/* TODO: add style */
.collapse {

}

.collapse-content {
  transition-duration: 500ms;
  background-color: var(--clr-secondary-600);
}

.collapse-content--hidden {
  max-height: 0 !important;
}