.navigation {
  --nav-fnt-sz: 1em;
  --nav-padding: 1rem;
  --nav-border-width: 1px;

  background-color: var(--clr-nav-primary);

  position: fixed;
  bottom: 0;
  width: 100vw;

  transition-duration: 0.3s;
}

.navigation.navigation--hidden {
  bottom: calc(-1 * (2*var(--nav-padding) + var(--nav-fnt-sz) + 2*var(--nav-border-width)));
  opacity: 0;
  visibility: hidden;
}

.navigation ul {
  list-style: none;
  
  display: flex;
  justify-content: flex-start;
  margin-left: 0;

  color: var(--clr-nav-secondary);
  padding: 0;
}

.navigation li {
  color: var(--clr-nav-secondary);
  padding: 1rem;
}

.navigation li:active {
  background-color: white;
  color: var(--clr-nav-primary);
}

@media (hover: hover) {
  .navigation li:hover {
    /*background-color: white;
    color: var(--clr-nav-primary);*/
    border: var(--nav-border-width) solid var(--clr-nav-secondary);
    font-weight: 600;
    padding: calc(var(--nav-padding) - 2*var(--nav-border-width));
  }
}

.burger-menu {
  padding: 0 !important;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  background-color: hsl(0 0% 100% / 0.1);

  display: flex;
  width: 3rem;

  display: none;
}

.burger-menu span {
  color: black;
  padding: 0rem;
  margin: auto;
  /*font-size: 1.9rem;*/
  font-size: 4rem;
}