.navigation {
  --nav-fnt-sz: 1em;
  --nav-padding: 1rem;
  --nav-border-width: 1px;

  background-color: var(--clr-nav-primary);

  position: fixed;
  bottom: 0;
  width: 100vw;

  transition-duration: 0.3s;
}

.navigation.navigation--hidden {
  bottom: calc(-1 * (2*var(--nav-padding) + var(--nav-fnt-sz) + 2*var(--nav-border-width) + 2px));
  opacity: 0;
}

.navigation ul {
  list-style: none;
  
  display: flex;
  justify-content: flex-start;
  margin-left: 0;

  color: var(--clr-nav-secondary);
  padding: 0;
}

.navigation .navigation__span {
  flex-basis: 0;
  flex-grow: 1;
  padding: 0;
}

.navigation > ul > li {
  color: var(--clr-nav-secondary);
  padding: 1rem;
  flex-shrink: 1;
  overflow: hidden;
}

/* TODO: Remove hover and active behavior and make the items anchors */
.navigation li:not(.navigation__span):not(.navigation__menu):active {
  background-color: white;
  color: var(--clr-nav-primary);
}

.navigation button {
  transition-duration: var(--tm-button-transition);
  outline-offset: 0px;
  outline-width: 0;
  border-radius: 2px;
}

@media (hover: hover) {
  .navigation > ul > li:not(.navigation__span):not(.navigation__menu):hover {
    border: var(--nav-border-width) solid var(--clr-nav-secondary);
    font-weight: 600;
    padding: calc(var(--nav-padding) - 2*var(--nav-border-width));

    cursor: pointer;
  }

  .navigation button:hover {
    outline: 3px solid white;
    outline-offset: -3px;
  }
}

.navigation button:focus-visible {
  outline: 3px solid white;
  outline-offset: -3px;
}

.navigation .navigation__menu {
  padding: 0;
  
  flex-shrink: 0;
  flex-basis: 3.2rem;

  position: relative;
  
  display: flex;
  justify-items: center;
  overflow: visible;
}

.nav-button {
  all: unset;

  width: 100%;
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}